* {
    box-sizing: border-box;
}

body {
    background-color: #FCEBB6;
    color: #221811; /*text color*/
    font-family: Verdana, Arial, sans-serif;
    background-image: url('background.gif');
}

header {
    background-color: #D2B48C;
    /*text-align: center;*/
    height: 150px;
    background-image: url('javajamlogo.jpg');
    background-repeat: no-repeat;
    display: block;
}

h1 {
    /*line-height: 200%; line spacing.200% is double spacing*/
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    width: 200px;
    float: left; /* to float elemet*/
    display: block;
}

nav a{
    text-decoration: none;
}

nav a:link{
    color: #fef6c2;
} 

nav a:visited{
    color:red
}

nav a:hover{
    color:#cc9933
}

nav ul {
    list-style-type: none;/* Remove Link marker  */
    padding-left: 0;

}

footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;

}

#wrapper {
    width: 80%; /*the width of the content of an element*/
    margin-left: auto; /*configure the space in the left margin of the element*/
    margin-right: auto;
    min-width: 900px;
    max-width: 1280px;
    background-color: #231814;
    box-shadow: 3px 3px 3px 3px #333333;
}

h4{
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: uppercase;
    border-bottom: 2px solid #231814;
    clear: left;
}

main{
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 2em;
    margin-left: 200px;
    padding-top: 0em;
    background-color: #fef6c2;
    display: block;
}

main h2, main h3, main h4, main div, main p, main ul, main dl {
    padding-left: 3em;
    padding-right: 2em;
    
}

.details {
    padding-left: 10%;
    padding-right: 10%;
    overflow:auto;
    /* Used to clear a float, 
    although it's intended to configure 
    the display of content for if it's too large for the area allocated.
    Auto = if needed, scrollbar are displayed to allow access 
    to the remaining content */
}

img{
    padding-left: 10px;
    padding-right: 10px;
}

#heroroad {
    background-image: url('heroroad.jpg');
    background-size: 100% 100%;
    height: 250px;
}

#heromugs {
    background-image: url(heromugs.jpg);
    background-size: 100% 100% ;
    height: 250px;
}

#heroguitar {
    background-image: url(heroguitar.jpg);
    background-size: 100% 100% ;
    height: 250px;
}

.floatleft {
    float: left;
    padding-bottom: 2em;
    padding-right: 2em;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-spacing: 0;
    background-color: #FFFFCC;
}

th, td{
    padding: 10px;
}

tr:nth-of-type(odd){
    background-color: #D2B48E;
}

form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input, textarea {
    display: block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-right: 9.5em;
}

#herojobs {
    height: 250px;
    background-image: url(herojobs.jpg);
    background-size: 100% 100%;
}